.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 6rem;
}

.subMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 27rem;
    color: #3d3c3c;
    text-decoration: none;
}
.subMenu a{
    text-decoration: none;
    color: white;
}
.subMenu p{
    background-color: #921a24; 
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.subMenu p:hover{
        background-color: white; 
}

.subMenu a:hover{
    color: #921a24;
}

.menu_Entrada {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem 6rem;
    margin-top: -3rem;
}
.menu h1 { 
    font-size: 1.3em;
    color: #333333;
    font-weight: bold;
    /* margin-left:90px; */
    text-align: left;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.entrada {
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.entrada {
        height: 300px;
        width: 200px;
        background: #fbfbfb;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 3rem;
        margin-right: 2rem;
        border: 1px solid #d3d2d2;
        

}

.entrada strong{
    color: #921a24 ;
    /* background-color: #3d3c3c; */
    font-size: 0.9rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

 .entrada img {
    width: 180px;
    height: 200px;
    border-radius: 2rem;
}

.menu_Jantar {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem 6rem;
    margin-top: -3rem;
}

.janta {
    height: 300px;
    width: 200px;
    background: #fbfbfb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    margin-right: 2rem;
    border: 1px solid #d3d2d2;
}

.janta strong{
    color: #921a24 ;
    /* background-color: #3d3c3c; */
    font-size: 0.9rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

 .janta img {
    width: 180px;
    height: 200px;
    border-radius: 2rem;
}

.menu_Bebidas {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem 6rem;
    margin-top: -3rem;
    justify-content: space-between;
}

.bebidas {
    height: 300px;
    width: 200px;
    background: #fbfbfb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid #d3d2d2;
}

.bebidas strong{
    color: #921a24 ;
    /* background-color: #3d3c3c; */
    font-size: 0.9rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

.bebidas img {
    width: 150px;
    height: 200px;
    border-radius: 2rem;
}

@media screen and (max-width: 500px){
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 6rem;
        align-items: center;
    }
    
    .menu_Entrada {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 6rem;
        margin-top: -3rem;
        align-items: center;
        margin-left: 3rem;
        
    }

    .menu_Jantar {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 6rem;
        margin-top: -3rem;
        align-items: center;

    }

    .janta {
        height: 300px;
        width: 200px;
        background: #ececec;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 3rem;
        margin-left: 3rem;
    }

    .menu_Bebidas {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 6rem;
        margin-top: -3rem;
        justify-content: space-between;
        align-items: center;
    }

    .bebidas {
        height: 300px;
        width: 200px;
        background: #ececec;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 3rem;
        overflow: hidden;
        margin-left: 2rem;
    }
    
    .subMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        color: #3d3c3c;
    }
    
    .subMenu p{
        margin: 0 0.7rem;
    }

}