.pix {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem 6rem;
}
.pix h1{
    color: #3d3c3c;
}

.pix img {
    width: 180px;
    height: 200px;
    border-radius: 1rem;
    margin-top: 4rem;
    margin-bottom: 0.7rem;
    border:3px solid #3d3c3c;
}

.pix p{
    font-weight: bold;
    color: #3d3c3c;
}

.pix strong{
    color: #921a24;
}

@media screen and (max-width: 500px){
   .pix{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 1rem 6rem;
}

.pix h1{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.pix img {
    width: 180px;
    height: 200px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

}