.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fee7c8;
    padding: 1em;
}

.navbar img{
    margin-left: 2rem;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: #921a24;
    text-decoration: none;
}

.item a:hover{
    color:white;
    font-weight: bold;
    
}